<%-include('includes/header');%>
    <style>
        h1 {
            font-size: 60px;
            font-weight: 700;
        }
        
        .main-form .sub-title {
            text-align: center;
            margin-bottom: 30px;
            line-height: 1;
        }
        
        h3 {
            font-weight: 500;
            font-size: 19px;
        }
        
        .form-control {
            height: 58px;
            color: #090031;
            -webkit-box-shadow: unset!important;
            box-shadow: unset!important;
            border: none;
            border-radius: 5px;
            background-color: #fff;
            -webkit-transition: .5s;
            transition: .5s;
            padding: 0 0 0 18px;
            font-size: 15px;
        }
        
        .main-form .help-block {
            position: absolute;
            bottom: 0;
        }
        
        .list-unstyled {
            padding-left: 0;
            list-style: none;
        }
        
        dl,
        ol,
        ul {
            margin-top: 0;
            margin-bottom: 1rem;
        }
        
        .main-form .help-block ul li {
            font-size: 14px;
            color: #fd5056;
        }
        
        .btn-search .disabled:hover {
            color: #fd5056;
            background: 0 0;
            border: 1px solid #fd5056;
        }
        
        textarea {
            border: none !important;
        }
        
        input {
            border: none !important;
        }
        
        label.error {
            display: block;
            margin: 5px 0 0;
            text-align: left;
            font-size: 12px;
            font-weight: 400;
            color: #f33;
            width: 100%;
            position: absolute;
            bottom: 36px;
        }
    </style>
    <div class="page-title-area ptb-100">
        <div class="container">
            <div class="page-title-content">
                <h1>Contact Us</h1>
                <ul>
                    <li class="item"><a href="<%=base_url%>">Home</a></li>
                    <li class="item"><a href="<%=base_url%>contact"><i class="bx bx-chevrons-right"></i>Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="bg-image"> <img src="assets/img/page-title-area/contact.jpg" alt="Demo Image"> </div>
    </div>

    <div class="contact-section">

        <div class="contact-footer bg-light">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="content pt-100 pb-70 ">
                            <div class="info-content">
                                <h3 class="sub-title">London Office</h3>
                                <div class="content-list"> <i class='bx bx-map'></i>
                                    <h6>6B High way, 21th Street, London</h6>
                                </div>
                                <div class="content-list"> <i class='bx bx-phone'></i>
                                    <h6>Phone: +123 456 987</h6>
                                </div>
                                <div class="content-list"> <i class='bx bx-receipt'></i>
                                    <h6>Fax: +0123 456 000</h6>
                                </div>
                                <div class="content-list"> <i class='bx bx-at'></i>
                                    <h6>Email: <a href="#" class="__cf_email__">demo@demo.com</a></h6>
                                </div>
                            </div>
                            <div class="info-content">
                                <h3 class="sub-title">Usa Office</h3>
                                <div class="content-list"> <i class='bx bx-map'></i>
                                    <h6>6B State Street, Santa Barbara, CA, USA</h6>
                                </div>
                                <div class="content-list"> <i class='bx bx-phone'></i>
                                    <h6>Phone: +123 456 987</h6>
                                </div>
                                <div class="content-list"> <i class='bx bx-receipt'></i>
                                    <h6>Fax: +0123 456 000</h6>
                                </div>
                                <div class="content-list"> <i class='bx bx-at'></i>
                                    <h6>Email: <a href="#" class="__cf_email__">demo@demo.com</a></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="main-form ptb-100">
                            <form id="contactform" style="background: #f0f0f3;">
                                <h3 class="sub-title">Contact Us</h3>
                                <div id="err-div"></div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="input-icon"><i class='bx bx-user'></i></div>
                                            <input type="text" name="name" class="form-control" id="name" required="" data-error="Please enter your name" placeholder="Name" />

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="input-icon"><i class='bx bx-at'></i></div>
                                            <input type="email" name="email" class="form-control" id="email" required="" data-error="Please enter your email" placeholder="Email" />

                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="input-icon"><i class='bx bx-comment-detail'></i></div>
                                            <input type="text" name="subject" class="form-control" id="subject" required="" data-error="Please enter subject" placeholder="Subject" />

                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="input-icon textarea"><i class='bx bx-envelope'></i></div>
                                            <textarea name="message" id="message" class="form-control" cols="100" rows="6" required="" data-error="Please enter your message" placeholder="Message..."></textarea>

                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <button type="submit" class="btn-search" style="width: 100%;">send message</button>
                                        <!-- <div id="msgSubmit" class="h5 text-center hidden"></div> -->
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-footer bg-light">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="contact-map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3291.5587057831294!2d-119.6913566850266!3d34.41256088050952!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80e9138c16678b21%3A0x224a2a07bdf0842a!2s6%20State%20St%2C%20Santa%20Barbara%2C%20CA%2093101%2C%20USA!5e0!3m2!1sen!2sbd!4v1603126591259!5m2!1sen!2sbd"></iframe>"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%-include('includes/footer');%>

        <script>
            $(function() {
                $('#contactform').validate({
                        rules: {
                            name: {
                                required: true,
                            },
                            email: {
                                required: true
                            },
                            subject: {
                                required: true
                            },
                            message: {
                                required: true
                            }
                        }
                    })
                    // contactform
                $('#contactform').on('submit', function(event) {
                    event.preventDefault();
                    $('#err-div').html(``);
                    if ($('#contactform').valid() == true) {

                        $('.btn-search').text('Loading...')
                        $.ajax({
                            url: base_url + 'savecontact',
                            type: 'POST',
                            data: $('#contactform').serialize(),
                            success: function(response) {
                                $('.btn-search').text('Submit')
                                $('#contactform #err-div').html(`<p class=" text-success text-center">${response.msg}</p>`);
                                $('#contactform').trigger("reset");
                            },
                            error: function(error) {
                                console.log(error);
                            }
                        });
                    }
                });
            })
        </script>