<%-include('includes/header');%>
<style>
    h1 {
        font-size: 60px;
        font-weight: 700;
    }
    h2 {
        font-weight: 700;
        font-size: 50px !important;
    }
    .m-auto {
        margin: auto!important;
    }
    @media (min-width: 992px)
    {
        .col-lg-10 {
            -ms-flex: 0 0 83.333333%;
            flex: 0 0 83.333333%;
            max-width: 83.333333%;
        }
    } 

</style>
<div class="page-title-area ptb-100">
    <div class="container">
       <div class="page-title-content">
          <h1>Terms & Condition</h1>
          <ul>
             <li class="item"><a href="<%=base_url%>">Home</a></li>
             <li class="item"><a href="<%=base_url%>terms-and-cond"><i class='bx bx-chevrons-right'></i>Terms & Condition</a></li>
          </ul>
       </div>
    </div>
    <div class="bg-image">
       <img src="assets/img/page-title-area/terms.jpg" alt="Demo Image">
    </div>
 </div>
 <section class="terms-of-services ptb-100">
    <div class="container">
       <div class="row">
          <div class="col-lg-12 col-md-12">
             <div class="content">
                <h3>Welcome to mondar Terms of Services</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <h3>What are the benefits to work with mondar</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <h3>What Data You Provide to Us</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <h3>Our Policy Concerning Children</h3>
                <p class="m-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
             </div>
          </div>
       </div>
    </div>
 </section>
<%-include('includes/footer');%>